h1{
color:aqua
}
*{
border:solid
 }

 .header{
     background-color: rgb(209, 139, 47);
     display: flex;
     justify-content:space-between
 }

 .grid{
     display:flex;
     flex-wrap:wrap;
     justify-content:space-evenly
 }

 .social{
     display:flex;
     justify-content:flex-end
 }